.ahfb-conditional-main-dropdowns {
  width: 100px;
}

.ahfb-conditions-item-main {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.ahfb-add-condition-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ahfb-condition-divider {
  height: 1px;
  background: grey;
  width: 100%;
}